.modalTitle {
  font-size: var(--mantine-font-size-xl) !important;
  font-weight: 900 !important;
}

.modalStack {
  display: flex !important;
  gap: 10px !important;
}

.warning {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 20px;
}

.understandButton {
  width: 100% !important;
}

.modalButton {
  --button-padding-x: 10px !important;
  height: 70px !important;
  justify-content: flex-start !important;
  background-color: var(--custom-dimmed-1) !important;
  color: #fff !important ;
}

.modalButton:hover {
  background-color: var(--custom-dimmed-2) !important;
}

.modalButtonGroup {
  display: flex !important;
  flex-direction: row !important;
  gap: 20px !important;
  align-items: center !important;
}

.modalButtonInner {
  justify-content: flex-start !important;
  align-items: center !important;
}

.modalButtonWalletText {
  font-size: var(--mantine-font-size-lg) !important;
  font-weight: 700 !important;
}
