.logoHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
  gap: 10px;
  text-decoration: none;
  transform: translateX(10px);
}

.upperContainerInner {
  display: flex;
  position: absolute;
  top: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 65px);
}

.upperAirdropContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logoTitle {
  color: #fff;
  font-size: var(--mantine-font-size-lg);
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.airdropTitle {
  color: #fff;
  letter-spacing: 2px;

  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.airdropActionsTitle {
  width: 350px;
  color: #fff;
  font-family: "Lilita One", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
}

.airdropActionsTitle2 {
  width: 100px;
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
}

.airdropDescription {
  color: var(--custom-disabled);
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: var(--mantine-font-size-lg);
  text-align: center;
  line-height: 1.2;
}

.airdropActionsContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--custom-dimmed-0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: calc(0.75rem * var(--mantine-scale));
}

.tortillaClaimButtonText {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Lilita One", sans-serif;
}
.tortillaClaimButtonText {
  font-weight: 900;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Lilita One", sans-serif;
}
.tortillaIconContainer {
  transform: rotate(-15deg);
}

.boxedInfoContainer {
  background-color: var(--custom-dimmed-1);
  border-radius: calc(0.75rem * var(--mantine-scale));
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.communityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.communityContainer {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  width: 80px;
  line-height: 14px;
  text-align: center;
}
