.radialBurstContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.radialBurstInner {
  animation: spin 60s linear infinite;
  width: 5000px;
  height: 5000px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
