.upperContainer {
  width: 100%;
}

.title {
  margin-top: 30px;
  font-size: 24px;
  margin-bottom: 30px;
  color: var(--custom-text-color);
}

.blockItem {
  width: 100%;
  padding: 10px;
  background-color: var(--custom-dimmed-1);
  border-radius: 18px;
  margin-bottom: 10px;
}

.lastUpdated {
  margin-top: -15px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  color: var(--custom-disabled);
}

.blockHashTd {
  color: var(--custom-disabled);
  font-size: 14px;
}

.blockHashInner {
  display: inline-block;
  width: 320px;
}

.blockMultiplierTd {
  text-align: right;
  font-weight: 900;
}

.blockItemSalsaBlock {
  background-color: var(--custom-yellow);
  color: #000 !important;
}

.salsaTooltip {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--custom-dimmed-1);
  font-weight: 900;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--custom-disabled);
  font-family: "Red Hat Display", sans-serif;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 18px;
  font-size: 14px;
  margin-bottom: 10px;
}

.salsaTooltipBlocks {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  color: var(--custom-text-color);
}

.salsaTooltipCount {
  font-size: 16px;
  color: #fff;
  font-weight: 900;
}

.salsaBlockText {
  font-size: 12px;
}

.blockItemSalsaBlock .blockMultiplier {
  color: #000 !important;
}

.blockMultiplierTh {
  text-align: right;
}

.viewAllButton {
  align-items: flex-start !important;
  padding-inline: 10px !important;
}

.viewAllButtonInner {
  justify-content: flex-start !important;
}

.viewAllButton:hover {
  filter: brightness(0.8);
}

.viewAllButtonLabel {
  font-family: "Red Hat Display", sans-serif !important;
}

.blockItemBigReward {
  background-color: var(--custom-green);
  color: var(--custom-dimmed-0);
}

.blockMultiplier {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: flex-end;
  font-size: 20px;
}

.blockHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
