.navbar {
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
  display: flex;
  height: 65px;
  align-items: center;
  position: fixed;
  z-index: 20;
  background-color: var(--custom-dimmed-0);
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.drawerHeader {
  background-color: var(--custom-dimmed-0) !important;
}

.drawerBody {
  background-color: var(--custom-dimmed-0) !important;
  color: #fff;
}

.drawerStack {
  margin-top: 10px;
  background-color: var(--custom-dimmed-0);
}

.linksGroup {
  align-items: center;
  display: flex !important;
  flex-direction: row;
  display: none;
  gap: calc(var(--mantine-spacing-xl) * 2) !important;
}

@media screen and (max-width: 1000px) {
  .linksGroup {
    display: none !important;
  }
}

.link {
  color: var(--custom-dimmed-greyed);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.link:hover {
  color: #fff;
  filter: drop-shadow(0px 0px 12px #fff);
}

.drawerCloseButton {
  background-color: var(--custom-dimmed-2) !important;
}

.drawerCloseButton:hover {
  background-color: var(--custom-dimmed-3) !important;
}

.logoHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
  gap: 10px;
  text-decoration: none;
}

.logoTitle {
  color: #fff;
  font-size: var(--mantine-font-size-lg);
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.selectedLink {
  color: #ffc107;
  filter: drop-shadow(0px 0px 12px #ffc107);
}

.walletButton {
  font-weight: 900;
}

.navbarRight {
  margin-left: auto !important;
}

.footer > * {
  min-width: 80px;
  border-right: 1px solid var(--custom-dimmed-1);
  padding-right: 20px;
  padding-left: 20px;
}

.footer > *:first-child {
  padding-left: 0;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 21;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--custom-dimmed-0);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
}

.footerHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  color: var(--custom-dimmed-3);
  font-size: var(--mantine-font-size-xs);
  text-transform: uppercase;
  font-weight: 900;
}

.footerHeaderText {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: row;
  color: var(--custom-disabled-light);
  font-size: var(--mantine-font-size-xs);
  text-transform: uppercase;
  font-weight: 900;
}

.footerHeaderValue {
  font-size: var(--mantine-font-size-xs);
  font-weight: 900;

  font-family: "Red Hat Mono", monospace;
  color: #ffffff !important;
}

.footerSocialsContainer {
  margin-left: auto;
}

.footerSocialsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none !important;
}

.footerSocialsContainer > * {
  border-right: 1px solid var(--custom-dimmed-1);
  padding-right: 20px;
  padding-left: 20px;
  color: var(--custom-disabled-light);
}

.footerSocialsContainer > *:last-child {
  border: none !important;
  padding-right: 0;
}

.footerSocialsContainer .footerHeaderContainer a {
  color: var(--custom-disabled-light);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footerSocialsContainer .footerHeaderContainer a:hover {
  color: #fff;
  filter: drop-shadow(0px 0px 12px #fff);
}
