.upperGameContainer {
  display: flex;
  position: absolute;
  top: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 65px);
}

.clickerContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.clickerFooterButton {
  text-wrap: wrap;
}

.footerLabelContainer {
  font-size: 14px;
  text-align: left;
  text-wrap: wrap;
}

.upperClickerContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.upperToolbarContainer {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 450px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background-color: var(--custom-dimmed-0-dark);
}

.tacoContainer {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 200px;
}

.tacoGlowContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.tacoGlowInner {
  position: absolute;
  width: 210px;
  height: 118px;
  border-radius: 50%;
  background-color: #1a2c38;
  filter: drop-shadow(0px 10px 100px rgba(255, 193, 7, 1));
}

.radialBurstContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.tortillaIconContainer {
  transform: rotate(-15deg);
}

.tortillaPerBlockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 48px;
  gap: 20px;
}

.tortillaPerBlockSubtext {
  width: 100px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Lilita One", sans-serif;
  line-height: 15px;
}

.clickerFooterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.recentBlocksContainer {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
}

.clickerFooterHashDisabled {
  color: var(--custom-disabled);
  font-size: 12px;
}

.clickerFooterHashEnabled {
  color: var(--custom-green);
  font-size: 12px;
}

.clickerFooterTitle {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tortillaPerBlockText {
  color: #fff2d5;
}

.clickerHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.radialBurstInner {
  animation: spin 60s linear infinite;
  width: 5000px;
  height: 5000px;
}

.tortillaClaimButtonText {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Lilita One", sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
