.upperGameContainer {
  display: flex;
  position: absolute;
  top: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 65px);
}

.registrationFlowWelcomeText {
  font-weight: 900;
  color: var(--custom-disabled);

  font-family: "Red Hat Display", sans-serif;
}

.registrationFlowLoadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.registrationFlowDescription {
  color: var(--custom-disabled);
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: var(--mantine-font-size-lg);
  text-align: center;
  line-height: 1.2;
}

.upgradeHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;

  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  color: #fff;
}

.upgradesTitle {
  display: flex;
  background-color: var(--custom-dimmed-2);
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.upgradeItem {
  border-radius: 16px;
  user-select: none !important;
  position: relative;
  width: 100%;
  display: flex;
  gap: 15px;
  letter-spacing: 1px;

  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--custom-dimmed-1);
  padding: 10px;
}

.upgradeItem:hover {
  cursor: pointer;
  filter: brightness(1.15);
}

.upgradeItem:active {
  cursor: pointer;
  filter: brightness(1.25);
}

.upgradeItem:hover .upgradeImageWrapper {
  background-color: #fad49c;
}

.upgradeImageWrapper {
  background-color: var(--custom-dimmed-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 72px;
  height: 72px;
  overflow: hidden;
}

.upgradeItem:hover {
  background: var(--custom-dimmed-1);
}

.upgradeImageInner {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.upgradeName {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

.upgradeTortillaIcon {
  transform: rotate(-20deg);
}

.purchaseTaqueriaButton {
  margin-top: 20px;
}

.upgradeAmountOwned {
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  color: var(--custom-disabled);
  font-size: 40px;
  margin-left: auto;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.strikeThrough {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.upgradePrice {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 8px;
  border-radius: 8px;
  font-family: "Lilita One", sans-serif;
  font-weight: 900;
  color: #fff;
  background-color: var(--custom-dimmed-2);
  font-size: var(--mantine-font-size-md);
}

.actionsTitle {
  color: #fff;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}

.purchaseTaqueriaInfoContainer {
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.logoHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
  margin-top: -20px;
  gap: 10px;
  text-decoration: none;
  transform: translateX(10px);
}
.logoTitle {
  color: #fff;
  font-size: var(--mantine-font-size-lg);
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.registrationContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.clickerContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.clickerFooterInputWrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clickerFooterInputLabel {
  text-align: left !important;
  width: 100% !important;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  color: var(--custom-disabled) !important;
  font-size: var(--mantine-font-size-sm);
}

.clickerFooterInput {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none !important;
  color: var(--custom-green) !important;
}
.clickerFooterInput:focus {
  border-color: var(--custom-disabled) !important;
}

.clickerFooterButton {
  text-wrap: wrap;
}

.footerLabelContainer {
  font-size: 12px;
  text-align: left;
  text-wrap: wrap;
}

.upperClickerContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.upperToolbarContainer {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 450px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background-color: var(--custom-dimmed-0-dark);
}

.tacoContainer {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 200px;
}

.tacoGlowContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.tacoGlowInner {
  position: absolute;
  width: 210px;
  height: 118px;
  border-radius: 50%;
  background-color: #1a2c38;
  filter: drop-shadow(0px 10px 100px rgba(255, 193, 7, 1));
}

.radialBurstContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.tortillaIconContainer {
  transform: rotate(-15deg);
}

.tortillaPerBlockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 48px;
  gap: 20px;
}

.tortillaPerBlockSubtext {
  width: 100px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Lilita One", sans-serif;
  line-height: 15px;
}

.clickerFooterContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.recentBlocksContainer {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
}

.clickerFooterHashDisabled {
  text-align: center;
  line-height: 14px;
  color: var(--custom-disabled);
  font-size: 12px;
}

.clickerFooterHashEnabled {
  text-align: center;
  line-height: 14px;
  color: var(--custom-green);
  font-size: 12px;
}

.clickerFooterTitle {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tortillaPerBlockText {
  color: #fff2d5;
}

.clickerHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.radialBurstInner {
  animation: spin 60s linear infinite;
  width: 5000px;
  height: 5000px;
}

.tortillaClaimButtonText {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
