.upperGameContainer {
  display: flex;
  position: absolute;
  top: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 65px);
}

.upperClickerContainer {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.upperToolbarContainer {
  flex-shrink: 0;
  height: 100%;
  width: 450px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--custom-divider);
}

.tacoContainer {
  transition: transform 0.2s cubic-bezier(0, 0, 0, 1);

  user-select: none;
  position: absolute;
  font-size: 200px;
  color: #000;
}

.tacoContainer:hover {
  cursor: pointer;
}

.tacoContainer:active {
  transform: scale(0.8);
  transition: transform 0.2s cubic-bezier(0, 0, 0, 1);
}

.radialBurstContainer {
  z-index: -1;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
