@import "@mantine/core/styles.css";
:root {
  --custom-green-darker: #04dd04;
  --custom-green: #03ff04;
  --custom-yellow: #ffc107;
  --custom-divider: #1e485b;
  --custom-dimmed-0-dark: #172935;
  --custom-dimmed-0: #1a2c38;
  --custom-dimmed-1: #203543;
  --custom-dimmed-2: #253e4f;
  --custom-disabled: #637581;
  --custom-disabled-light: #8096a5;
}
button {
  font-weight: 900 !important;
}

.mantine-table tr:nth-child(odd) td:first-child {
  background-color: var(--custom-dimmed-1) !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mantine-table tr:nth-child(odd) td:last-child {
  background-color: var(--custom-dimmed-1) !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mantine-table tr:nth-child(odd) td:not(:first-child):not(:last-child) {
  background-color: var(--custom-dimmed-1) !important;
}

.mantine-table tr {
  border-bottom: none !important;
}
.mantine-select-option:hover {
  background-color: var(--custom-dimmed-1) !important;
}

.mantine-button-loader .mantine-Loader-root::after {
  --loader-color: var(--custom-dimmed-2) !important;
}

.mantine-slider-track::before {
  background-color: var(--custom-dimmed-1) !important;
}

button:disabled {
  background-color: var(--custom-dimmed-2) !important;
  color: var(--custom-disabled) !important;
  font-family: "Lilita One", sans-serif;
}

.mantine-Button-root {
  transition: cubic-bezier(0, 0, 0, 1) 0.1s;
}

.mantine-Button-root:hover {
  transition: cubic-bezier(0, 0, 0, 1) 0.2s;
}

.mantine-Button-root:active {
  transition: none !important;
}

.mantine-skeleton-root::after {
  background-color: var(--custom-dimmed-1) !important;
}

input:focus {
  border-color: var(--custom-dimmed-3) !important;
}

.mantine-pagination-control {
  transition: 0.5s cubic-bezier(0, 0, 0, 1);
}

.mantine-CloseButton-root:hover {
  background-color: var(--custom-dimmed-2) !important;
}

.mantine-pagination-control:where([data-active]) {
  font-weight: 900;
  transition: 0.5s cubic-bezier(0, 0, 0, 1);
  background-color: #fff !important;
  color: #000 !important;
}

.mantine-menu-item:hover {
  background-color: var(--custom-dimmed-1) !important;
}

.mantine-SegmentedControl-label[data-active="true"]
  .mantine-SegmentedControl-innerLabel {
  color: #000 !important;
}
.mantine-Drawer-overlay {
  opacity: 1 !important;
}

.mantine-modal-root {
  --table-border-color: var(--custom-divider) !important;
}
